a {
    color: $text-cl;
    text-decoration: none;
    display: block;
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
    width: 100%;
}

strong {
    font-family: 'pp';
}
b {
    font-weight: bold;
}
.nav__logo{
    user-select: none;
}