.gallery-show{
    &__tab--heading{
        padding-top: 80px;
        @include midflex();
        & span{
            padding: 0 25px;
            cursor: pointer;
            text-transform: uppercase;
            font-weight: 600;
            color: $text-heading-cl;
            &:hover{
                color: $sub-cl;
            }
        }
    }
    &__tab--show{
        padding-bottom: 80px;
        .gallery-item.gallery-page{
            width: 100%;
            padding-top: 40px;
        }
    }
}