.banner {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: $white-cl;
    padding: $pd 0;
    &__heading {
        font-size: $fz-heading-text;
    }
    &__pages {
        text-transform: uppercase;
        padding-top: 10px;
        &--home {
            display: inline-block;
            color: $white-cl;
        }
    }
}

.main-help {
    padding-top: 80px;
    &__content-wrap {
    }
    &__content {
        &--item {
            padding: 60px 20px;
            background-color: $sub-bg-cl;
            margin-bottom: 60px;
            .content-item__heading {
                padding-bottom: 15px;
                span {
                    font-size: 20px;
                    text-transform: uppercase;
                    color: $text-heading-cl;
                    font-weight: 600;
                }
            }
            .content-item__desc {
                padding: 10px 0;
                &--link {
                    color: $sub-cl;
                    display: inline-block;
                    &:hover {
                        color: $primary-cl;
                        @include transition($t);
                    }
                }
                &--heaing {
                    text-transform: uppercase;
                    color: $text-heading-cl;
                    padding-bottom: 15px;
                }
                ul {
                    list-style-type: initial;
                    padding: 3px 0 3px 20px;
                }
                li {
                    padding: 5px 0;
                }
            }
        }
    }
    &__sidebar {
        &--heading-item {
            padding-bottom: 30px;
            font-size: 22px;
            font-weight: 600;
            color: $text-heading-cl;
        }
        .search {
            position: relative;
            display: flex;
            margin-bottom: 40px;
            &:hover .search-icon {
                color: $text-heading-cl;
                @include transition($t);
            }
            &-icon {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                font-size: 16px;
                padding-left: 20px;
            }
            input {
                padding: 15px 15px 15px 50px;
                color: #121525;
                border-style: solid;
                border-width: 1px;
                border-bottom-color: #f5f6f7;
                border-right-color: #f5f6f7;
                border-top-color: #d5d6d7;
                border-left-color: #d5d6d7;
                background-color: #f5f6f7;
                outline: none;
                flex: 1;
                border-radius: 5px;
                font-size: $fz-text-m;
            }
        }
        .recent-sermon {
            &__list {
                padding-bottom: 20px;
            }
            &__item {
                display: flex;
                // max-height: 45px;
                &--img {
                    padding-right: 15px;
                    img {
                        max-height: 60px;
                        width: auto;
                    }
                }
                &--info {
                    padding-bottom: 30px;
                    .info__heading {
                        color: $text-heading-cl;
                        font-weight: 600;
                        padding-bottom: 10px;
                        &:hover {
                            color: $sub-cl;
                            @include transition($t);
                        }
                    }
                    .info__time {
                        color: #afb1b8;
                        font-size: 10px;
                        display: inline-block;
                        &:hover {
                            color: $text-heading-cl;
                            @include transition($t);
                        }
                    }
                }
            }
        }
        .category {
            padding-bottom: 20px;
            &__item {
                padding-bottom: 5px;
                margin-bottom: 10px;
                font-weight: 600;
                color: $text-heading-cl;
                &:hover {
                    color: $sub-cl;
                    @include transition($t);
                }
                i {
                    margin-right: 10px;
                }
            }
        }
    }
}